{% extends 'templates/base.html' %}
{% block content %}
    <div class="container-fluid">
        <h1 class="text-center">About Us</h1>
    </div>
    <div class="container-fluid text-center">
        <p>I m a Computer Science Majoor student. I m a self-taught web designer and a front end developer.I like to sit on hackerrank and solve problems on algorithms and datastructures.I love python.
        <br/> Programming skills: C,Python,Javascript,Jquery,Ajax,HTML5,CSS.
        <br/> Framework: Django,RubyOnRails(documentation)
      </p>
    </div>
    <div class="container-fluid">

    </div>
    <div class="container-fluid">

    </div>
{% endblock %}
